<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="nav-link" href="/form"">Recipes</a>
                <a class="nav-link" href="/success">Pantry</a>
                <form class=" d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <a href="/logout"show class="btn btn-sm btn-outline-secondary" type="button">Log Out</a>
            </div>
        </div>
    </nav>        
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <h1>Welcome to Recipies.com</h1>
            <h2>Pick from our hundreds of recipie options or make your own!</h2>
        </div>
    </nav>
    <div class="row">
        {% for recipies in all_recipies %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Name: {{recipies.name}}</h5>
                        <p class="card-text">Recipe Instructions: {{recipies.instructions}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Recipe Nutritional Value: {{recipies.nutrients}} Calories</li>
                        <li class="list-group-item">Recipe Cook Time: {{recipies.cook}} Minutes</li>
                    </ul>
                    <div class="card-body">
                        <a href="/pantry/{{recipies.id}}" class="card-link">Veiw</a>
                        {% if session["logged_id"] == recipies.user_id.id %}
                        <a  href="/delete/{{recipies.id}}" class="card-link">Delete</a>
                        <a  href="/change/{{recipies.id}}" class="card-link">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>